@charset "utf-8";
/* CSS Document */

main {
  padding: 20px;
  background: #ffffff;
}
section {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
section h2 {
  text-align: center;
  font-size: 30px;
  color: #14113a;
  margin: 10px 0 30px;
}
button {
  font-size: 24px;
  color: #14113a;
  background: #9797ad;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 15px;
  text-align: center;
  cursor: pointer;
}
section p {
  font-size: 18px;
  text-align: justify;
  color: #14113a;
  margin: 20px 10px;
}

#caja1 {
  display: none;
}
#caja2 {
  display: none;
}
#caja3 {
  display: none;
}
#caja4 {
  display: none;
}
#caja5 {
  display: none;
}
#caja6 {
  display: none;
}
