@charset "utf-8";
/* CSS Document */

main {
  padding: 20px;
  background: #ffffff;
}
section {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
section h2 {
  text-align: center;
  font-size: 30px;
  color: #14113a;
  margin: 10px 0;
}
section h3 {
  font-size: 24px;
  color: #14113a;
  background: #9797ad;
  padding: 10px;
  border-radius: 10px;
  margin: 15px;
  cursor: pointer;
}
section p {
  font-size: 18px;
  text-align: justify;
  color: #14113a;
  margin: 20px 10px;
}
section ul {
  list-style: circle;
  font-size: 18px;
  text-align: justify;
  color: #14113a;
  margin-left: 30px;
}

#prim1 {
  display: none;
}
#prim2 {
  display: none;
}
#prim3 {
  display: none;
}
